XMLParsing/employee.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="EMPLOYEE" type="EmployeeType"/>
<xsd:complexType name="EmployeeType" >
<xsd:sequence>
  <xsd:element name="EMPID" type="xsd:string"/>
  <xsd:element name="SALARY" type="xsd:string"/>
  <xsd:element name="DEPT_ID" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
